#body {
  background: lemonchiffon;
}

#init {
  display: block;
}

#wordListInput {
  width: 66%;
  height: 100px;
}

#afterInit {
  display: none;
}

#dictateInput {
  width: 66%;
}

#correct {
  display: none;
}

#incorrect {
  display: none;
}

.incorrectColor {
  color: red;
}

.correctColor {
  color: green;
}